@use '/src/sass/base/variables.scss'as *;

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
    margin: 0;
}

ol[role="list"],
ul[role="list"] {
    list-style: none;
    padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-size: inherit;
    font-weight: inherit;
    text-overflow: ellipsis;
}

span {
    text-overflow: ellipsis;
}

img {
    display: block;
    max-inline-size: 100%;
}

body {
    background-color: $black;
    margin: 0 auto;

    &::selection {
        color: $purple;
    }
}

.container {
    margin: 0 16px;
}

.titles-wrapper {
    display: flex;
    flex-direction: column;
}


a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

label [type='checkbox'] {
    cursor: pointer;
}


@media screen and (min-width: 768px) {
    .container {
        max-width: 723px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        max-width: 920px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1081px;
    }
}

@media screen and (min-width: 1920px) {
    .container {
        max-width: 1440px;
    }
}