@use '/src/sass/base/variables.scss'as *;
@use '/src/sass/libs/chakra-petch.css'as *;

@mixin border-gradient {
    border: 2px solid transparent;
    border-image: $linear;
    border-image-slice: 1;
}

@mixin title {
    font-family: 'Semi-Bold';
    font-weight: 600;
    font-size: clamp(48px, 5vw, 64px);
    letter-spacing: -0.01em;
    line-height: auto;
    color: $white;
}

@mixin title-h2 {
    font-family: 'bold';
    font-weight: 600;
    font-size: clamp(32px, 4vw, 48px);
    letter-spacing: -0.01em;
    color: $white;
}

@mixin title-h4 {
    display: inline-block;
    font-family: 'medium';
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    background-image: $linear;
    background-clip: text;
    color: transparent;
}

@mixin title-card {
    font-family: 'medium';
    font-weight: 400;
    font-size: 20px;
    color: $white;
}

@mixin sub {
    font-family: 'light';
    font-weight: 300;
    font-size: 16px;
    line-height: 175%;
    color: $greyscale-grey-2;
}

@mixin sub-2 {
    font-family: 'light';
    font-weight: 400;
    font-size: 14px;
    line-height: 200%;
    color: $greyscale-grey-1;
}

@mixin btn-color {
    background: $linear;
    padding: 0 10px;
}

@mixin btn-text {
    font-family: 'light';
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.11em;
    text-transform: uppercase;
    text-align: center;
    color: $white;
}