$linear: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%);
$purple: #ca6aeb;
$blue: #19b5f1;
$black: #18181b;
$black-80: #252532;
$greyscale-grey-1: #b0b0b2;
$greyscale-grey-2: #d1d1d1;
$white: #fff;
$alerts-success: #00c566;
$alerts-error: #ff4747;
$alerts-warning: #facc15;