@use '/src/sass/base/variables.scss' as *;
@use '/src/sass/base/mixins.scss' as *;

.about {
    margin-top: 100px;
    &__columns {
        display: flex;
        flex-wrap: wrap;
    }
    &__column {
        display: flex;
        flex-direction: column;
        gap: 12px;
        &-title-1 {
            @include title-h2;
        }
        &-title-2 {
            @include title-h4;
        }
        &:last-child {
            padding-top: 48px;
            gap: 12px
        }
    }
    &__sub {
        @include sub;
    }
}