.clients {
    padding-top: 100px;

    &__wrapper {

        &-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

            span:nth-child(1) {
                margin-top: 100px;
            }

            span:nth-child(2) {
                margin-top: 12px;
            }
        }
    }
}