@use '/src/sass/base/variables.scss' as *;
@use '/src/sass/base/mixins.scss' as *;

.header {
    padding-top: 42px;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-menu {
            display: none;
        }
        &-btn {
            display: none;
            button {
                background-color: transparent;
                @include sub;
                @include border-gradient;        
                color: $white !important;
                width: 126px;
                height: 52px;
            }
        }
    }
    &__img {
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0.5;
    }
    .burger {
        @include border-gradient;
        display: flex;
        justify-content: center;
        align-items:center;
        width: 52px;
        height: 52px;
        &__wrapper {
            display: flex;
            flex-direction: column;
            align-items: end;
            gap: 4px;
        }
        span {            
            display: block;
            background-color: $white;
            height: 2px;
            width: 16px;
            &:nth-child(2) {
                width: 12px;
            }
            &:nth-child(3) {
                width: 8px;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .header {
        &__wrapper-btn {
            display: block;
        }
        &__wrapper-burger {
            display: none;
        }
        &__wrapper-menu {
            display: block;
            display: flex;
            gap: 30px;
            a {
                @include sub;
            }
        }
    }
}