@use '/src/sass/base/variables.scss' as *;
@use '/src/sass/base/mixins.scss' as *;

.immersen {
    padding-top: 62px;
    &__columns {
        flex: 1 1 50%;
    }
    &__wrapper {
        display: block;
        margin-left: 16px;
    }
    .wrapper {
        &__video {
            @include relative;
            img {
                position: absolute;
                margin-top: 50%;
            }
        }
    }
    &__column-hero {
        overflow: hidden;
        img {
            margin-left: 40%;
        }
    }
    &__title-h1 {
        @include title;
        position: relative;
        font-size: 48px;
        line-height: 121%;
    }
    &__subtitle {
        @include sub;
        display: block;
        padding-top: 12px;
    }
    &__btn {
        @include btn-color;
        @include btn-text;
        width: 206px;
        height: 50px;
        margin-top: 32px;
        border: none;
    }
    &__client {
        display: flex;
        margin-top: 32px;
    }
    &__client {
        display: flex;
        flex-wrap: wrap;
        &-wrapper {
            display: flex;
        }
    }
    &__client-img {
        display: grid;
        grid-auto-flow: column;
        gap: 0;
        align-items: center;
        .item {
            transform: translateX(-15px);
        }
        .item:nth-child(1) {
            transform: translateX(0);
        }
        .item:nth-child(3) {
            transform: translateX(-30px);
        }
    }
    &__client-text {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        span[type='number'] {
            @include title;
            font-size: 16px;
            line-height: 175%;
            position: relative;
            &::after {
                content: '';
                display: block;
                width: 48px;
                height: 7px;
                background-image: url('/src/img/immersen/line-gradient.svg');
                position: absolute;
                top: 20px;
                left: -10px;
            }
        }
        span[type='text'] {
            @include sub;
        }
    }
    &__why-choose {
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        background-color: $black-80;
        padding: 36px;
        border: 2px solid $greyscale-grey-1;
        h3 {
            @include title-card;
            margin-top: 42px;
        }
        span {
            display: block;
            @include sub-2;
            margin-top: 12px;
        }
    }
}

@media screen and (min-width: 768px) {
    .immersen {
        &__wrapper {
            display: flex;
            align-self: flex-end;
            padding-right: 16px;
        }
        &__columns {
            flex: 1 1 33%;
        }
        .wrapper {
            &__video {
                padding-left: 35px;
                img {
                    margin: 0;
                    position: inherit;
                    padding-bottom: 40px;
                }
            }
        }
        &__column {
            flex: 0 1 50%;
            &-clients {
                display: flex;
                flex-wrap: wrap;
                row-gap: 40px;
            }
            &-hero {
                margin: 0;
                align-self: end;
                flex: 0 1 50%;
                img {
                    margin: 0;
                }
            }
        }
    } 
}

@media screen and (min-width: 1024px) {
    .immersen {
        &__column-hero {
            display: flex;
            justify-content: flex-end;
        }
        &__title-h1 {
            max-width: 540px;
        }
        &__subtitle {
            max-width: 446px;
        }
        &__column-clients {
            padding-top: 81px;
        }
        &__client {
            margin: 0;
        }
        &__why-choose {
            display: flex;
            flex-wrap: nowrap;
        }
        &__column {
            padding-top: 87px;
        }
    }
    .wrapper__video {
        padding-left: 75px;
    }
}