@use '/src/sass/base/variables.scss'as *;
@use '/src/sass/base/mixins.scss'as *;

.our-pricing {

    &__title-lianer {
        width: 150px;
    }

    &__columns-wrapper {
        position: relative;
        padding-top: 47px;
    }

    &__column {
        display: flex;
        flex-direction: column;
        gap: 32px;
        background: rgba(37, 37, 50, 0.81);
        padding: 32px 22px;

        &-items {
            display: flex;
        }
    }

    .column {
        &__title {
            font-size: 18px;
        }

        &__icon {
            @include border-gradient;
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            background: $black;
            width: 42px;
            height: 42px;
            margin-right: 16px;

            &-svg {
                width: 19px;
                height: 19px;
            }
        }

        &__wrapper {
            &-info {}
        }

        &__information {
            padding-top: 12px;
        }

        &__price {
            &-img {
                display: flex;
                justify-content: end;
                position: relative;
                padding-top: 40px;

                img {
                    width: 256px;
                }
            }

            &-line {
                border: 1px solid $white;
                width: 354px;
                height: 0px;
                opacity: 0.1;
            }
        }
    }

    &__column-price {
        background: rgba(37, 37, 50, 0.81);
    }

    .wrapper-flex {
        display: flex;
        justify-content: center;
    }

    .pay {
        background: $black-80;
        @include border-gradient;
        width: 321px;
        height: 222px;
        position: absolute;
        bottom: -80px;
        left: 25px;

        &__wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
        }

        &__price {
            font-size: 60px;
        }

        &__time {
            font-weight: 400;
            font-size: 12px;
            line-height: 167%;
        }
    }
}

@media screen and (min-width:768px) {
    .our-pricing {
        .column__price-img img {
            width: 330px;
        }
    }
}

@media screen and (min-width: 1024px) {
    .our-pricing {
        &__columns-wrapper {
            display: flex;
        }

        .pay {
            left: 555px;
        }
    }
}