@use '/src/sass/base/variables.scss' as *;
@use '/src/sass/base/mixins.scss' as *;

.service {
    padding-top: 105px;
    &__wrapper {
        &-cards {
            display: grid;
            row-gap: 32px;
            margin-top: 24px;
        }
    }
    &__card {
        background-color: rgba(37, 37, 50, 0.6);
    }
    &__title {
        &_lianer {
            width: 130px;
        }
    }
    &__card {
        padding: 38px 32px 39px 25px;
        &__title {
            margin-top: 58px;
        }
        &__sub {
            margin-top: 12px;
        }
    }
}

@media screen and (min-width: 1024px) {
    .service {
        &__wrapper {
            &-text {
                display: grid;
                grid-template-columns: 0.5fr 1fr;
                grid-template-rows: 1fr;
                column-gap: 180px;
            }
            &-title {
                display: grid;
                row-gap: 12px;
            }
            &-cards {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                row-gap: 0;
                column-gap: 30px;
            }
        }
        &__card {
            height: 291px;
        }
        &__item {
            margin-top: 30px;
            &:nth-child(1) {
                margin-top: 0;
            }
            &:nth-child(3) {
                margin-top: 60px;
            }
            &:nth-child(4) {
                margin-top: -30px;
            }
            &:nth-child(5) {
                margin-top: 0;
            }
        }
    }
}
