@use '/src/sass/base/variables.scss'as *;

.accordion {
    width: 100%;
    margin-top: 28px;

    &__item {
        margin-top: clamp(23px, 7vw, 48px);

        &:nth-child(1) {
            margin-top: 0;
        }
    }

    &__header {
        cursor: pointer;
        padding: 15px 15px 15px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $greyscale-grey-1;

        &::after {
            content: '';
            color: wheat;
        }
    }

    &__content {
        max-height: 0;
        overflow: hidden;
        transition: all 0.5s;
        padding: 0 15px;
    }

    &__content.show {
        max-height: 500px;
        padding: 15px 15px 15px 0;
    }
}